<div class="planners-bg">

<%- include('../partials/header') %>

<table id="list">
    <thead>
      <tr>
        <div class="planner-title">Plans</div>
       
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% plans.forEach(function(p) { %>
        <tr>
          
          <td class="planners-title"><%= p.title %></td>
        
          <td class="details"><a href="/planners/<%= p._id %>">DETAILS</a></td>
        </div>
        </tr>
        <form method="POST" action="/planners/<%= p.id%>?_method=DELETE">
            <button type="submit" class ="deletebutton">Delete</button>
          </form>
        </li>
        <% }); %>
      </tbody>
    
    </table>
    
<%- include('../partials/footer') %>
</div>