<%- include('../partials/header') %>

<section id="show-page">
  <div>Plans: </div>  <div> <%= plans.title %> </div>

  <div>Date: </div>
  <div> <%= plans.date%> </div>
  <div> Time: </div>
  <div><%= plans.time%> </div>
  
</section>


<%- include('../partials/footer') %>