<div class="bg-container">
  <%- include('../partials/header') %>
<section id="show-page">
  <div class="title-plans">Plans: </div>
   <div class="title-plans2"> <%= plans.title %> </div>

  <div class="date">Date: </div>
  <div class="date-number"> <%= plans.date%> </div>
  <div class="time"> Time: </div>
  <div class="timeNum"><%= plans.time%> </div>
  </section>

  <br><br>

  <h2 class="title-comment">Comment Section</h2>

  <% if (user) { %>
    <form id="add-comments-form" method="POST" action='/planners/<%= plans._id %>/comment'>
      <label>Comments:</label>
      <textarea name="content"></textarea>
      <select name="comments">

      <input type="submit" value="Add Comment">
    </form>
    <% } else { %>
      <p>Please Login to leave a comment</p>
    <% } %>


       
        <% if (plans.comments.length) { %>
          <table>
            <thead>
              <tr>
                <th>User</th>
                <th>Date</th>
                <th>Comment</th>
                
              </tr>
            </thead>
            <tbody>
              <% plans.comments.forEach(function(c) { %>
                <tr>
                  <td class="comment-user"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %></td>
                  <td><%= c.createdAt.toLocaleDateString() %></td>
                  <td>
                    
                  </td>
                  <td>
                    <%= c.content %>
                  </td>
                </tr>
                <% }); %>
            </tbody>
          </table>
          <% } else { %>
            <h5 class="no-comments">No Comments Yet</h5>
            <% } %>
          
        </div>
<%- include('../partials/footer') %>